{% extends "base.html.twig" %}

{% block title %}Doc{% endblock %}

{% block body %}
<main>
    <h1>Doc</h1>
    <div class="report">
        <img class="uml" src="{{ asset('img/flowchart.png')}}" alt="Bild på flödesschema">
    </div>
</main>
{% endblock %}
