body {
    background-color: dimgray;
    color: wheat;
    margin: 0 auto;
    margin-left: 20px auto;
}

main {
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    border-bottom: 4px double #ccc;
}

a {
    color: lightblue;
}

a:active {
    color: pink;
}

a:hover {
    color: pink;
}

.site-header {
    margin-left: -20px;
    background-size: cover;
    height: 100px;
}

.site-title {
    font-size: 2em;
}

.elis {
    width: 60%;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.report {
    margin-left: 100px;
    text-align: center;
}

.gamble {
    border: 2px solid wheat;
    max-width: 500px;
}
