body {
    background-color: dimgray;
    color: wheat;
    margin: 0 auto;
}

main {
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    border-bottom: 4px double #ccc;
    margin-left: 20px ;
}

h2 {
    margin-left: 20px ;
}

a {
    color: lightblue;
}

a:active {
    color: pink;
}

a:hover {
    color: pink;
}

li {
    margin-left: 30px;
}

p {
    margin-left: 20px;
}

footer {
    text-align: center;
    border-top: 2px solid lightgray;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  table th {
    font-weight: bold;
    text-align: left;
  }
  
  table tr:first-child th {
    border-top: 1px solid #ccc; /* Add top border to first row */
  }
  
  table tr:nth-child(odd) {
    background-color: transparent; /* Remove background color for odd rows */
  }
  
  table td:last-child {
    text-align: center;
  }
  
  table td:last-child a.delete-button {
    color: #d9534f;
    text-decoration: none;
  }
  
  table td:last-child a.delete-button:hover {
    text-decoration: underline;
  }

.bookpic {
    width: 275px;
}

.site-header {
    background-size: cover;
    height: 100px;
}

.site-title {
    font-size: 2em;
}

.elis {
    width: 60%;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.report {
    margin-left: 100px;
}

.gamble {
    border: 2px solid wheat;
    max-width: 500px;
}

.deck {
    font-weight: bold;
}

.uml {
    margin-left: -150px;
}
