/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .dealer-container {
    margin-bottom: 20px;
  }
  
  .players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .player {
    margin: 10px;
  }
  
  .player-info,
  .player-hand {
    margin-bottom: 10px;
  }
  
  .player-hand ul,
  .dealer-hand ul {
    list-style: none;
    padding: 0;
  }
  
  .player-action {
    margin-top: 10px;
  }
  
  .dealer-hand h2 {
    margin-top: 0;
  }
  
  @media (max-width: 768px) {
    .players-container {
      flex-direction: column;
      align-items: center;
    }
  
    .player {
      margin-bottom: 20px;
    }
  }
  
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  h2 {
    color: #333;
    font-size: 20px;
  }
  
  h3 {
    color: #333;
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Player Styles */
  .player {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }
  
  /* Dealer Styles */
  .dealer-hand {
    margin-bottom: 20px;
  }
  
  /* Specific Styles */
  
  /* projBase.html.twig */
  .site-header {
    height: 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .site-title {
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  nav {
    background-color: #333333;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 10px;
  }

  nav a {
    color: #00ccff;
  }
  
  /* enter_names.html.twig */
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .player-info {
    width: 25%;
  }
  
  .player-hand {
    width: 40%;
  }
  
  .dealer-hand {
    width: 30%;
  }

  
  .no-players {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* projStart.html.twig */
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  