{% extends "base.html.twig" %}

{% block title %}APIs{% endblock %}

{% block body %}
<h1>Olika API</h1>

<main>
    <p><a href="{{ path('quote') }}">Quote api</a> är en JSON sida som ger en slumpad qoute.</p>
</main>

{% endblock %}