{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <h1>Report</h1>
    <a href="#kmom01">Kmom01</a>
</main>
<div class="report">
    <h2 id="kmom01">Kmom01</h2>
    <p>Har programmerat objektorienterat i både Python från förra LP men även C++ kurser från spelprogrammering för 2-3år sedan.</p>
    <p>PHPs klasser och metoder är sig likt en blandning av C++ och Python. Man skapar en klass med konstruktorn "class", i den kodar man attribute som klassen ska ha. För att sedan 
        skapa ett objekt av klassen används "new" följt av klassens namn. För att kunna jobba med samma klass används "this".
    </p>
    <p>Några grunder som kan vara bra att veta är följande:</p>
    <li>Klassens namn börjar med en stor bokstav (för konventionens skull) och bör vara unikt inom projektet.</li>
    <li>Klassens attribut beskriver egenskaperna hos objektet som baseras på klassen.</li>
    <li>Nyckelordet "this" refererar till det aktuella objektet och används för att komma åt dess attribut och metoder inuti klassen.</li>
    <li>En klass kan ärva attribut och metoder från en annan klass genom arv.</li>

    <p>Kodstrukturen känns inte så speciell än så länge. Det känns som det är saker som jag redan gjort, även att det inte är det. Strukturen var enkelt att följa och få en bra grund.</p>
    <p>Har inte läst direkt något ur PHP the right way. Dock när jag skumma igenom lite verkar de har bra förklarning på hur man kan jobba med databaser mot PHP klienter.</p>
    <p>Min TIL är hur man gör JSON sidor. Har inte gjort något liknande innan, vad jag minns i alla fall, så det det var lärorikt.</p>
</div>
{% endblock %}
