{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <h1>Report</h1>
    <a href="#kmom01">Kmom01</a>
    <a href="#kmom02">Kmom02</a>
    <a href="#kmom03">Kmom03</a>
    <a href="#kmom04">Kmom04</a>
    <a href="#kmom05">kmom05</a>
    <a href="#kmom06">kmom06</a>
    <a href="#kmom10">kmom10</a>
</main>
<div class="report">
    <h2 id="kmom01">Kmom01</h2>
    <p>Har programmerat objektorienterat i både Python från förra LP men även C++ kurser från spelprogrammering för 2-3år sedan.</p>
    <p>PHPs klasser och metoder är sig likt en blandning av C++ och Python. Man skapar en klass med konstruktorn "class", i den kodar man attribute som klassen ska ha. För att sedan 
        skapa ett objekt av klassen används "new" följt av klassens namn. För att kunna jobba med samma klass används "this".
    </p>
    <p>Några grunder som kan vara bra att veta är följande:</p>
    <li>Klassens namn börjar med en stor bokstav (för konventionens skull) och bör vara unikt inom projektet.</li>
    <li>Klassens attribut beskriver egenskaperna hos objektet som baseras på klassen.</li>
    <li>Nyckelordet "this" refererar till det aktuella objektet och används för att komma åt dess attribut och metoder inuti klassen.</li>
    <li>En klass kan ärva attribut och metoder från en annan klass genom arv.</li>

    <p>Kodstrukturen känns inte så speciell än så länge. Det känns som det är saker som jag redan gjort, även att det inte är det. Strukturen var enkelt att följa och få en bra grund.</p>
    <p>Har inte läst direkt något ur PHP the right way. Dock när jag skumma igenom lite verkar de har bra förklarning på hur man kan jobba med databaser mot PHP klienter.</p>
    <p>Min TIL är hur man gör JSON sidor. Har inte gjort något liknande innan, vad jag minns i alla fall, så det det var lärorikt.</p>

    <br>
    <h2 id="kmom02">Kmom02</h2>
    <p>Arv (Inheritance) i PHP innebär att en klass kan ärva egenskaper och metoder från en annan överordnad klass. Detta möjliggör återanvändning av kod och sparar tid och arbete. 
        För att ärva från en annan klass används nyckelordet "extends".</p>
    <p>Komposition (Composition) i PHP innebär att en klass kan bestå av andra objekt. Detta gör det möjligt att bygga komplexa system genom att kombinera mindre delar. 
        För att använda komposition i PHP skapas en instans av en klass inuti en annan klass.</p>
    <p>Interface i PHP beskriver en uppsättning av metoder som en klass måste implementera. Detta gör det möjligt att skapa en standardiserad uppsättning av funktioner som kan användas av flera klasser. 
        För att definiera ett interface används nyckelordet "interface".</p>
    <p>Trait i PHP är en mekanism för att återanvända kod på tvärs av klasser. Detta innebär att en grupp av metoder kan definieras i en trait och sedan inkluderas i flera klasser. 
        För att använda en trait i PHP används nyckelordet "use".</p>
    <p>Jag började med att göra card klassen. Tanken var först att jag skulle göra utseendet på kort i den klassen också så mitt "mål" var att skapa ett kort och rita ut det i början. Det fungerade helt okej men sättet 
        jag gjorde det på så hade jag behövt ha 52 rader kod vilket jag insåg tidigt inte skulle bli snyggt. Isället skapade jag CardGraphic klassen och började skapa korten med hjälp av arv i den klassen. 
        När de två klasserna fungerade och jag kunde skapa olika kort bestämde jag mig för att göra kortleken. Det gick ganska enkelt, det svåra var att hitta ett bra sätt att sortera de på. Men jag löste det på ett helt okej sätt. 
        Jag kan nog göra det snyggare kodmessigt på min sida som visar alla kort sorterade men jag tycker att utseendet på sidan blev snyggt.
    </p>
    <p>När jag kom till shuffle trodde jag att det skulle bli betydligt svårare men en liten googling visade sig att det redan finns en shuffle funktion så använde den. </p>
    <p>Eftersom jag gick lite dumt rakt på utan att göra övningen började få problem vid draw. Hade inte koll på hur man jobbade i session så jag fick göra lite research på det. Tycker det blev bra och jobbar med session på alla kortsidor.</p>
    <p>När all kod fungerade bra så gjorde jag UML diagrammet.</p>
    <p>Efter UML skapade jag API sidorna. Det blev mycket copy-paste från förra delen förutom när man skulle dra flera kort. Gjorde ett litet skript för att ta hand om det för jag hittade ingen bättre lösning i Symfony.</p>
    <p>Osäker på vilket flödesdiagram ni syftar på. Uppgiften var byggd på ett bra sätt att jobba uppifrån och ner. Det gav bra fritänk och gjorde att uppgiften kändes mer motiverande att lösa istället för att man måste hålla sig inom ramar. Det var några 
        ramar men det är så klart för att kunna få en produkt som en kund frågar efter. Annars var det kul med mer frihet.
    </p>
    <p>Min TIL är hur man jobbar med session i Symfony.</p>

    <br>
    <h2 id="kmom03">Kmom03</h2>
    <p>Ska jag vara ärlig gjorde jag Psuedokod och flödesdiagram sist av allt. Dels för jag bara skummade igenom uppgiften och läste inte den delen tillräckligt noga men även för jag tycker det är enklare att bara jobba från uppgiften jag fick. 
        Det känns som jag "låser" mig själv om jag planerar hur allt ska fungera innan jag börja koda. Flödesdiagram kan jag känna kan hjälpa men pseudokod, bygga klassdiagram och liknande innan jag ens har skrivit kod är bara jobbigt och låser mitt 
        "fria tänk". Om jag bara har instruktioner att jobba med så känner jag mig mer effektiv än om jag ska planera ALLT innan jag ens har fixat min första klass.
    </p>
    <p>Jag jobba mycket med koden som skapades förra kmom. Klasserna hade redan all kod jag behövde. Mycket blev att jobba i kontrollen för att få det att fungera. Jag blev lite bakahållen från composer lint. Kunde inte skriva koden så som jag ville då bland 
        annat fick jag inte ha else-statser, använda klassfunktioner från saker jag tar från session utan att dubbelkolla att objektet är av den klass jag skapade och skickade in i sessionen osv. Det jag kan förbättra är att ha mindre krav för att koden ska bli snyggare 
        annars är jag nöjd över hur den blev.
    </p>
    <p>Ramverket i helhet känns ganska enkelt att jobba med. Det är, som nyss nämdes, den nya composer lint som gör det jobbigare att jobba med. Man måste koda så att det är helt omöjligt att bli fel vilket göra att koden blir ganska ful och jobbigare att läsa, enligt mig. 
        Utöver det så har jag inga problem än så länge. Det känns väldigt enkelt att jobba med klasser och liknar C++ en hel del vilket jag har jobbat mest med sedan tidigare.
    </p>
    <p>Min TIL blir hur man kodar för composer lint inte ska klaga.</p>

    <br>
    <h2 id="kmom04">Kmom04</h2>
    <p>Att jobba med phpunit var väldigt enkelt. Gjort liknande typer av testning i Python kurser. Dock var installationen väldigt otydlig tyckte jag. Jag tänker att uppgifter är det enda som är "måste". Dock klarar man inte av att göra uppgiften utan att fixa labbmiljö, göra övningen och göra 
        delen i introduktion. Jag tycker att om det är "måste" delar som finns med för att allt ska fungera ska de ligga under rubriken "uppgifter" eller typ "måsten för uppgiften". Satt i 2-3h och jobbade runt i cirklar innan jag fick mina tester att fungera och generera dokumentet så som önskades. 
        Hade det inte varit för discord hade jag nog suttit med det i ytterligare någon timme.
    </p>
    <p>Fick 100% kodtäckning (inte med controller utan bara cards). Det kändes bäst att göra allt och då blev det ganska enkelt 100%.</p>
    <p>Jag tycker koden var testbar. Konstruktorn kunde kanske inte testas helt på alla då det t.ex. inte gåt att skapa ett card utan att något finns med i konstruktorn. Går kanske att ändra koden för att anpassa det men då jag har programmerat runt detta i åtanke känner jag att det inte behövs.</p>
    <p>Ändrade inget i min kod. Är nöjd över hur den är då jag är ensam användare av den.</p>
    <p>Är koden lätt att testa så är den ren enligt mig. Det känns som om man måste bygga en extrem sats för att testa en funktion så borde koden kunna snyggastill, kortast ner eller göras om.</p>
    <p>Min TIL blir väl att tryck på alla länkar som finns i uppgiftinstruktionen, oavsett vart i dokumentet den...</p>

    <h2 id="kmom05">Kmom05</h2>
    <p>Övningen gick bra. Var inget speciellt med den.</p>
    <p>Tänkte inte direkt på något. Jag bara gjorde uppgiften upp och ner och sen så fixade jag lite style för att det skulle bli snyggare. Annars är det väldigt basic.</p>
    <p>Det kändes bra att jobba med ORM. Uppgiften hjälpte att komma igång men det kändes ganska likt procedures i SQL. I alla fall vissa delar. Dock var det enklare att jobba och förstå ORM, kan vara för jag nu hade erfarenheten från Databaskursen.</p>
    <p>Har ingen djup uppfattning ännu. Det känns vädligt enkelt och smidigt att jobba med jämfört när vi gjorde JavaScript i databaskursen. Det kändes som jag hade lite mer "kontroll" i den kursen medan denna vecka har jag bara gjort det jag har hittat och fungerat. 
        Missade föreläsningen och gick lite blint in i denna vecka så kan vara därför det kändes lite otydligt också. Kommer se ikapp i helgen i hopp om djupare förestålese. Men grunderna fungerade bra.
    </p>
    <p>Min TIL är hur smidigt det var att skapa databaser och koppla kontroller och även form till den skapade databasen.</p>

    <br>
    <h2 id="kmom06">Kmom06</h2>
    <p>PhpMetrics verka ha många bra och tydliga saker man kan se för att förbättra och hitta fel i sin kod. Jag hade ett erro i min kod som jag inte visste om alls förens jag körde phpmetrics. Det som jag fann mest användbart var just bug sökning och violations. 
        Saker som Object Relations var väldigt otydligt och förstod inte riktigt vad den gav. Annars var overview väldigt snygg då den verkligen gav en överblick över koden.
    </p>
    <p>Scrutinizer kändes lite flummigt att fixa. Det tog tid innan allt fungerade men det var nog mer på användaren än hemsidan. När det väl fungerade verkade det helt okej. Jag fick väldigt högt betyg direkt så lite svårt att säga hur den hjälper när man har gjort något som är 
        lite sämre. Min kodtäckning i början var endast 13% medan kvaliten var 9.88.
    </p>
    <p>Kodkvalitet är en viktig del men ibland kan den ge mer förhinder än hjälp. Behövde skriva om en controller så den blev fulare, mer komplex och sämre för att uppfylla vissa krav. Dock så blir koden mer säker i längden. 
        När det är kod för eget bruk är inte kvaliteten alltid min största prio utan att det ska fungera så som jag vill. Om det t.ex. går bra att visa en produkt efter man har tryckt på en knapp men inte kan visa en produkt om man manuelt skriver in raden i webbläsaren är det en dålig kodkvalite men det 
        fungerar bra för eget bruk då jag medvetet vetom att jag inte kommer skriva länken utan har knappen för att slippa behöva skriva en länk. Däremot om jag ska ge en kund samma sida är det viktigare att kvalitén är på topp och att det inte finns några fel i koden.
    </p>
    <p>Jag tror helt klart att badges visar hur bra en kod är ytligt. Om man bara kollar badges är min kod halvdan då den inte har särksillt stor coverage men allt annat fick den höga poäng på. Jag vet om hur allt fungerar och känner att jag inte behöver ha högre coverage då jag vet att simpla saker fungera men 
        behöver kanske några tester för att se att vissa fall fungerar. Dock om någon annan skulle se min kod kan en högre coverage behövas för att fastställa för andrapartnern att koden fungerar som den ska.
    </p>
    <p>Min TIL är att det finns mer än bara tester för att kolla hur bra en kod är och så att allt fungerar. Bara för att testerna fungerar betyder det inte att alla 6 C är ok.</p>

    <h2 id="kmom10">Kmom10</h2>
    <p>Jag har valt att göra ett "multiplayer" blackjack spel. Först var tanken att göra femkorts poker men märkte ganska snabbt att jag började för sent med uppgiften för att lyckas göra det.</p>
    <p>Jag använde mig utav kort klasserna som jag redan hade skapat med motifikation till att jag la till så att en cardhand har även koll på hur mycket pengar 
        som spelaren har samt vad den har bettat.
    </p>
    <p>Spelet börjar med att man kommer till en sida där man väljer 1-3 spelare. Antalet spelare sparas sedan i session. Efter det skickas man vidare till en sida där användaren får skriva in namn 
        på de spelare som är med. Namnen och "ID" sparas i en array i sessionen. Varje spelare får en cardhand klass tilldelad till sig. De börjar med $100. Efter namnen är ifylld skickas man vidare 
        till en bet sida. Där kan spelaren betta mellan $1-$100. När alla spelare har gjort sitt bet så börjar spelet. Det börjar med att dealern ger ett kort i tagen i en cirkel två gånger så att alla 
        spelare samt dealern har två kort på handen. Spelarna ser endast ena kortet från dealern.
    </p>
    <p>Efter alla har fått sina kort blir det första spelarens tur. Den får välja mellan "stay" eller "hit". Hit ger ett till kort, stay så är stannar man med handen. Efter spelare ett har 
        gjort sitt val blir det spelare två, sedan spelare tre (om det finns så många spelar). Efter det är det första spelarens tur och allt går om. Rundan är igång fram tills alla spelare anntigen har 
        valt stay eller har fått mer än 20 poäng. Efter det spelar dealern, den drar kort fram tills den får 17 eller mer i poäng. Där efter visas vilka som vann, vad dealern hade för hand samt vad alla spelare hade 
        för hand. Vinnarna får 1.5xbet utbetalat. Om en spelare går all-in och förlorar så försvinner den ut ur sessionen och från spelet helt. När alla spelare har förlorat alla sina pengar kommer det upp en meny där man 
        kan göra reset på sessionen. Det finns även alltid en knapp möjligt för reset.
    </p>
    <p>Avslutningsvis så gjorde jag tester på de funktioner jag la till i cardhand.</p>

    <br>
    <p>Tanken var att jag inte ville "göra om" blackjack utan att jag ville utmana mig själv i fem-korts-poker. Efter suttit med det en dag och inte kommit någonstans insåg jag även att uppgiften skulle in tisdag och inte torsdag. 
        Valde då att försöka göra blackjack med möjligheten att "splitta". Då jag byggde spelet från grunden, förutom klasserna, så valde jag även att inte titta på det jag gjort innan så det inte blev samma sak. Det var svårare än jag trodde 
        att få alla spelarna, deras bet och pengar att fungera, så blev i slutändan att jag inte riktigt hann med split.
    </p>
    <p>Med tanke på att jag valde ett av de enklare uppgifterna så kändes projeketet ändå relativt så som jag förväntade mig att det skulle vara. Var inte svårt men kändes inte heller som en gratis dans på rosorna. Hade jag 
        märkt tidgiare att uppgiften skulle in tisdag och inte torsdagen skulle jag ha börjat tidigare och förmodligen gjort någon poker variant men känner mig ändå nöjd över hur denna blackjacken blev jämfört med den i från kmom.
        Projektet kändes rimligt stort.
    </p>

    <br>
    <p>Kursen har känts väldigt simpel. Jag klagade på detta för något kmom sedan att det är lite "flummigt" om vad som är "måsten" och vad man inte behöver för att klara uppgifter. 
        Vissa delar låg t.ex. under "labb miljö" andra var under "övningar". Jag känner om det är saker man "måste" ha gjort för att klara uppgiften ska de ligga under något tydligare sätt. Övningar ser jag som 
        "gör detta om du är osäker", vilket jag inte kände mig för de flesta kmom utan gick på uppgiften direkt. Sen kom steg som att "köra composer lint" och då hade jag inte fixat lint för det låg i en övning och jag hade missat 
        det steget helt. Utöver det är jag nöjd med kursen. Jag är inte "extremt fan" av att göra hemsidor men Symfony var väldigt roligt att jobba med. Det kändes mer som jag kodade än att jag stylade som jag har känt 
        att många andra kurser har varit. Jag ger nog kursen en 7/10. Hade det inte varit dem "gömda" delarna samt att vi gjorde databas under en kmom och sen kom det aldrig något om det igen, förutom valfritt på denna uppgift, så var kursen 
        väldigt rolig och bra. Vet ej hur mycket Symfony används i "verkligheten", men om någon (jag) vill göra hemsida på fritiden hade jag gjort det i Symfony. Därför rekommenderar jag kursen.
    </p>
</div>
{% endblock %}
