{% extends 'base.html.twig' %}

{% block title %}Book List{% endblock %}

{% block body %}
    <main>
        <h1>Book List</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td><a href="{{ path('book_details', {'id': book.id}) }}">View Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        Add a new book <a href="{{ path('add_book') }}">here.</a>
    </main>
{% endblock %}