{% extends 'project/projBase.html.twig' %}

{% block body %}
    <h1>Enter Player Names</h1>

    <form method="post" action="{{ path('enter_name') }}">
        {% for playerIndex in 1..numPlayers %}
            <label for="player{{ playerIndex }}">Player {{ playerIndex }} Name:</label>
            <input type="text" id="player{{ playerIndex }}" name="players[]" required>
            <br>
        {% endfor %}

        <button type="submit">Start Game</button>
    </form>
{% endblock %}
