{% extends "project/projBase.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <h1>Home</h1>
    <p>Detta är ett blackjack spel där upp till 3 spelare kan spela samtidigt.</p>
    <p>För att testa spelet, tryck <a href="{{ path('proj_reset') }}">här.</a></p>
</main>
{% endblock %}

